<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="USMTGUI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <USMTGUI.Settings>
            <setting name="LocalUsmtDriveLetter" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="XMLConfigMigAppChkBx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XMLConfigExcludeSysFoldersChkBx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XMLConfigMigUserChkBx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XMLConfigNetworkPrnChkBx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupTargetOSChkBx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupTargetOS2ChkBx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EFSEnabledChkBx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EFSBackupEncryptChkBx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EFSEncryptKeyString" serializeAs="String">
                <value />
            </setting>
            <setting name="EFSRestoreDecryptChkBx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EFSDecryptKeyString" serializeAs="String">
                <value />
            </setting>
            <setting name="EFSConfigAbortRdBtn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EFSConfigSkipRdBtn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EFSConfigDecryptCopyRdBtn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EFSConfigCopyRawRdBtn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StorageConfigTargetWin7ChkBx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StorageConfigLocalOnlyChkBx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StorageConfigOverWriteChkBx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StorageConfigNoCompressChkBx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonitoringConfigVerbosityChkBx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitoringConfigVerbosityLevel" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MonitoringConfigRetryChkBx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitoringConfigRetryTime" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MonitoringConfigWaitChkBx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitoringConfigWaitTime" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MonitoringConfigContinueOnErrorChkBx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitoringConfigSpaceEstimateChkBx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XMLConfigCustUsersChkBx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XMLConfigCustAppsChkBx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XMLConfigExcludeDrivesChkBx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitoringNetworkLogChkBx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitoringProgressLogChkBx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupTargetOSWin10RdBtn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupSourceOSWin10RdBtn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupSourceOSWin7RdBtn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupTargetOSWin7RdBtn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StorageConfigTargetWin8ChkBx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XMLConfigMigDocsChkBx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XMLConfigConfigChkBx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StorageConfigVscChkBx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StorageConfigHardlinkChkBx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonitoringConfigListFilesChkBx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigCPUx86RdBtn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigCPUAMD64RdBtn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserAcctsExcludeAllRdBtn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserAcctsExcludeLocalRdBtn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAcctsExcludeDomainRdBtn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAcctsExcludeDays" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAcctsExcludeDate" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAcctsIncludeAllRdBtn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAcctsIncludeLocalRdBtn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAcctsIncludeDomainRdBtn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAcctsIncludeSelectedUsersRdBtn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalDriveLetterDataShare" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="LocalDriveDataShareChkBx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupBackupRdBtn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupRestoreRdBtn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupMethodUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalLogDataDriveChkBx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitoringEnableBareTailLogChkBx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Usmt5Exex86Folder" serializeAs="String">
                <value>x86</value>
            </setting>
            <setting name="Usmt5ExeAmd64Folder" serializeAs="String">
                <value>Amd64</value>
            </setting>
            <setting name="BackupSourceOSWin8RdBtn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupTargetOSWin8RdBtn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XmlCustomFilesFolder" serializeAs="String">
                <value>\CustomXML</value>
            </setting>
            <setting name="UNCUsmtDrivePath" serializeAs="String">
                <value>\\&lt;ServerName&gt;\&lt;Share&gt;$</value>
            </setting>
            <setting name="USMTFolder" serializeAs="String">
                <value>USMT1903</value>
            </setting>
            <setting name="DataStoreFolder" serializeAs="String">
                <value>DataStore</value>
            </setting>
            <setting name="MigAppXMLFile" serializeAs="String">
                <value>\MigApp.xml</value>
            </setting>
            <setting name="MigUserXMLFile" serializeAs="String">
                <value>\MigUserShared.xml</value>
            </setting>
            <setting name="MigDocsXMLFile" serializeAs="String">
                <value>\MigDocs.xml</value>
            </setting>
            <setting name="CustAppXMLFile" serializeAs="String">
                <value>\CustApp.xml</value>
            </setting>
            <setting name="CustUserXMLFile" serializeAs="String">
                <value>\CustUser.xml</value>
            </setting>
            <setting name="NetworkPrinterXMLFile" serializeAs="String">
                <value>\NetworkPrinters.xml</value>
            </setting>
            <setting name="ExcludeDrivesXMLFile" serializeAs="String">
                <value>\ExcludeDrives_D_to_Z.xml</value>
            </setting>
            <setting name="ExcludeSystemFoldersXMLFile" serializeAs="String">
                <value>\ExcludeSystemFolders.xml</value>
            </setting>
            <setting name="ConfigSXMLFile" serializeAs="String">
                <value>\ConfigS.xml</value>
            </setting>
            <setting name="ConfigLXMLFile" serializeAs="String">
                <value>\ConfigL.xml</value>
            </setting>
            <setting name="Cust1XMLFIle" serializeAs="String">
                <value>\Custom1.xml</value>
            </setting>
            <setting name="Cust2XMLFile" serializeAs="String">
                <value>\</value>
            </setting>
            <setting name="Cust3XMLFile" serializeAs="String">
                <value>\</value>
            </setting>
            <setting name="UNCServerFolder" serializeAs="String">
                <value>\\MDT01</value>
            </setting>
            <setting name="XMLConfigCust1ChkBx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XMLConfigCust2ChkBx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XMLConfigCust3ChkBx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UNCShareFolder" serializeAs="String">
                <value>\test</value>
            </setting>
        </USMTGUI.Settings>
    </applicationSettings>
</configuration>
