<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="USMTGUI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <USMTGUI.Settings>
            <setting name="MapDriveLetterUSMT" serializeAs="String">
                <value>U</value>
            </setting>
            <setting name="XMLConfigMigApp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XMLConfigExcludeSysFolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XMLConfigMigUser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XMLConfigNetworkPrn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupTargetOS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupTargetOS2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EFSEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EFSBackupEncrypt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EFSEncryptKeyString" serializeAs="String">
                <value />
            </setting>
            <setting name="EFSRestoreDecrypt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EFSDecryptKeyString" serializeAs="String">
                <value />
            </setting>
            <setting name="EFSConfigAbort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EFSConfigSkip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EFSConfigDecryptCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EFSConfigCopyRaw" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StorageConfigTargetWin7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StorageConfigLocalOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StorageConfigOverWrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StorageConfigNoCompress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonitoringConfigVerbosity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitoringConfigVerbosityLevel" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MonitoringConfigRetry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitoringConfigRetryTime" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MonitoringConfigWait" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitoringConfigWaitTime" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MonitoringConfigContinueOnError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitoringConfigSpaceEstimate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XMLConfigCustUsers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XMLConfigCustApps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XMLConfigExcludeDrives" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitoringNetworkLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitoringProgressLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupTargetOSWin10" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupSourceOSWin10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupSourceOSWin7" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupTargetOSWin7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StorageConfigTargetWin8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XMLConfigMigDocs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XMLConfigConfig" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StorageConfigVsc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StorageConfigHardlink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonitoringConfigListFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigCPUx86" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigCPUAMD64" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserAcctsExcludeAll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserAcctsExcludeLocal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAcctsExcludeDomain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAcctsExcludeDays" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAcctsExcludeDate" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAcctsIncludeAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAcctsIncludeLocal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAcctsIncludeDomain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAcctsIncludeSelectedUsers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MappedDriveLetterDataShare" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="MappedDriveDataShareRequired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupBackupBtn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupRestoreBtn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupMethodUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChkBxMapDataDrive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitoringEnableBareTailLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Usmt4Exex86Folder" serializeAs="String">
                <value>x86</value>
            </setting>
            <setting name="Usmt4ExeAmd64Folder" serializeAs="String">
                <value>Amd64</value>
            </setting>
            <setting name="Usmt3Exex86Folder" serializeAs="String">
                <value>Bin</value>
            </setting>
            <setting name="BackupSourceOSWin8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupTargetOSWin8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomXmlFilesFolder" serializeAs="String">
                <value>\CustomXML</value>
            </setting>
            <setting name="UNCDrivePathUSMT" serializeAs="String">
                <value>\\&lt;ServerName&gt;\usmt10$</value>
            </setting>
            <setting name="USMTFolder" serializeAs="String">
                <value>USMT10</value>
            </setting>
            <setting name="DataStoreFolder" serializeAs="String">
                <value>DataStore</value>
            </setting>
            <setting name="MigAppXML" serializeAs="String">
                <value>\MigApp.xml</value>
            </setting>
            <setting name="MigUserXML" serializeAs="String">
                <value>\MigUserShared.xml</value>
            </setting>
            <setting name="MigDocsXML" serializeAs="String">
                <value>\MigDocs.xml</value>
            </setting>
            <setting name="CustAppXML" serializeAs="String">
                <value>\CustApp.xml</value>
            </setting>
            <setting name="CustUserXML" serializeAs="String">
                <value>\CustUser.xml</value>
            </setting>
            <setting name="NetworkPrinterXML" serializeAs="String">
                <value>\NetworkPrinters.xml</value>
            </setting>
            <setting name="ExcludeDrivesXML" serializeAs="String">
                <value>\ExcludeDrives_D_to_Z.xml</value>
            </setting>
            <setting name="ExcludeSystemFoldersXML" serializeAs="String">
                <value>\ExcludeSystemFolders.xml</value>
            </setting>
            <setting name="ConfgSXML" serializeAs="String">
                <value>\ConfigS.xml</value>
            </setting>
            <setting name="ConfigLXML" serializeAs="String">
                <value>\ConfigL.xml</value>
            </setting>
            <setting name="Cust1XML" serializeAs="String">
                <value>\</value>
            </setting>
            <setting name="Cust2XML" serializeAs="String">
                <value>\</value>
            </setting>
            <setting name="Cust3XML" serializeAs="String">
                <value>\</value>
            </setting>
            <setting name="UNCServerFolder" serializeAs="String">
                <value>\\&lt;XServerName&gt;</value>
            </setting>
            <setting name="XMLConfigCustom1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XMLConfigCustom2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XMLConfigCustom3" serializeAs="String">
                <value>False</value>
            </setting>
        </USMTGUI.Settings>
    </applicationSettings>
</configuration>
